	
        <div class="container">
            <div class="header row" style="border-bottom: 3px solid #dc222b;" >
                <div class="col s12 l4">
                    <a href="#/" style="width:100%;margin-top:10px;"><img class="logo" src="http://alpha.eventicateam.com/img/Logo4.png"></a>
                </div>
                <div class="tel-skype col s12 l8">
                    <p><font color="#dc222b"><i class="step fi-telephone size-72"></i></font> Phone: 0039 123 45 679 </p>
                </div>
            </div>
        </div><br>
<section>
<div class="row" align="center">
	<h1>Dashboard</h1>
</div>
