<div ng-include="'views/assets/nav.html'"></div>
<section>
<div class="container">
	<div class="row" align="center">
		<div class="row" ng-if="true"><!--	solo aparecer si esta aprovado y si no ha subido sus archivos-->
			<div class="col l10 offset-l1" >
				<div class="pdf-icon"><img src="assets/img/pdficon.png" alt=""><br>
					<span>Pdf1</span>
				</div>&nbsp;
				<div class="pdf-icon"><img src="assets/img/pdficon.png" alt=""><br>
					<span>Pdf1</span>
				</div>&nbsp;
				<div class="pdf-icon"><img src="assets/img/pdficon.png" alt=""><br>
					<span>Pdf1</span>
				</div>&nbsp;
				<div class="pdf-icon"><img src="assets/img/pdficon.png" alt=""><br>
					<span>Pdf1</span>
				</div>&nbsp;
				<div class="pdf-icon"><img src="assets/img/pdficon.png" alt=""><br>
					<span>Pdf1</span>
				</div>&nbsp;
			</div>
			
		</div>
		<h1>Dashboard</h1>

	</div>
</div>

