<div ng-include="'views/assets/nav.html'"></div>

<section>
<div class="row">
	<div class="col l2 vertical-wrapper input-field">
		<div class="row" align="center"><h3>Menu</h3></div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
		<div class="row">
			<a class="btn waves-effect waves-light red lighten-3">Funcion 1</a>
		</div>
	</div>
	<div class="col l8">
		<div ng-controller="ViewCtrl">
	<div class="row">
		<input type="text" ng-model="search.jo">
		<p>
	      <input ng-model="search.jos" ng-true-value="'arman'" ng-false-value="''" type="checkbox" id="same_as" />
	      <label for="same_as">daniel</label>
	    </p>
	    Valor: {{ search.jos }}
<p>
	    <input type="checkbox" ng-model="testing"
           ng-true-value="'be'" ng-false-value="''" id="s">
           <label for="s">Algo</label>
</p>

  <tt>value2 = {{testing}}</tt><br/>
		<div class="col l4"   ng-repeat="userx in users | filter:search.jo | filter:search.jos | filter:testing">
			<div class="card ">
		      <div class="card-image">
		        <img src="assets/img/profiles/{{ userx.photo }}">
		        <span class="card-title">{{userx.name}}</span>
		      </div>
		      <div class="card-content">
		        <p>{{ userx.descripcion }} {{ userx.photo }}</p>
		      </div>
		      <div class="card-action">
		        <a >Action 1 </a>
		        <a >Action 2 </a>
		        <a >More Info...</a>
		      </div>
		    </div>
		</div>
		
	</div>

</div>
	</div>
</div>