      
      
      <header>
  <div class="header">
    <nav class="navigation" style="border:none;">
      <a href="#" class="navbar-logo"><img class="logo" src="assets/img/index_logo.png"></a>
      <div class="navbar-right">
        <!--<a href="#/login" class="boton white radius">Login</a>-->
        <a href="#/register" class="facebook boton red radius">Register Now</a>
      </div>
    </nav>

    <div class="video-container hide-on-small-only">

      <video autoplay loop muted id="video-bg">

        <source src="assets/img/video/DemoB.mp4" type="video/mp4">


      </video>
    </div>
    <div class="hide-on-large-only">
    	<img src="assets/img/video/poster.png" style="width:100%; height:auto !important;">
    </div>
  </div>
</header>